<a href="https://colab.research.google.com/github/kaifmks440/Fizzbuzz-problem/blob/master/Even_Odd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TCS Code Vita -2020**
# **Even Odd problem**


*   Given a range [low,high] (both inclusive ),select K numbers from the range (a number can be choosen multiple times) such that **sum** of those k numbers is even .
*   calulate the number of all such permutations.
*   As this number can be large,print it modulo (1e9+7)
## Constaints
0 <= low <= high <= 10^99
k<= 10^6
## Input 
* First line contains two space separated interges denoting low and high respectively
* Second line contains a single integer K
## Output
*Print a single integer denoting the number of all such permutaions
# Time Limit 
1
# Example-1
### Input
-1 10
-2
### Output
-50

In [24]:
# defining fuction for creating list from given range ;
def myarray(low, high): 
    return list(range(low, high+1))

# taking range value low and high

low,high=input().split()                       #split value by  space separated
low=int(low)
high=int(high)
# Now checking given range value is valid or not according to the given condition 0<=low <= high <=10**9;
while (low < 0 or low>=10**9) or (high < 0 or high >10**9) :
  raise TypeError("0 <= low <= high <= 10**9  must be with in range ") 

# creating list from given range and calculating length of the of the list ; 
mylist=myarray (low, high)
size_of_list=len(mylist)

# choosing k element from given range while repitition are allowed;
k=int(input())
while k>10**6:
  raise TypeError("k must be in range k <= 10**6")
result=pow(size_of_list,k)/2
result

1 10
2

50.0